body {
  background: #38414a;
  min-height: 100hv;
  display: flex;
  font-weight: 400;
}

body, html {
  width: 100%;
  height: 100%;
}

.input-error {
  border: 'solid 1px red';
}

.input-error-label {
  color: 'red';
  font-size: '14px';
}
